<div class="container h-100 w-100 bg-light">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display1 text-center">CONTACT US</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <p class="text-muted text-center">WE ACCEPT THAT HAVING SOMEONE TO TAKE CARE OF YOUR PARENTS IS NOT EASY FOR
                YOU.
                CONTACT US OR REGISTER NOW TO LET US TAKE CARE OF YOUR PARENTS ON YOUR BEHALF.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <span>
                    <input type="text" placeholder="Name* " value size="40" class="ml-4" class="mr-4"> <b></b>
                </span>
                <span>
                    <input type="email" placeholder="Email*" class="mr-4" value size="40">
                </span>
                <span>
                    <input type="text" placeholder="Subject*" value size="40">
                </span>
                <br>
                <br>
                <span>
                    <textarea class="text-muted" cols="100" rows="5" value size="80" value="">comment*</textarea>
                </span>
            </form>

        </div>
    </div>
    <div class="row bg-light">
        <div class="col-md-12  d-flex justify-content-center align-items-center">

            <button type="submit" class="btn btn-lg btn-warning pl-5 pr-5 mt-4 mb-5">send</button>

            <br>
        </div>
    </div>


</div>