<div class="container h-100 w-100">
    <div class="header h-25 w-100 bg-warning">
        <ul class="nav bg-dark">
            <li class="nav-item">
                <a routerLink="home" class="nav-link text-light">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="contact" class="nav-link">contact</a>
            </li>

            <li class="nav-item">
                <a routerLink="aboutUs" class="nav-link">AboutUs</a>
            </li>
            <li class="nav-item">
                <a routerLink="joinUs" class="nav-link">Gallery</a>
            </li>
        </ul>
        
        <h1 class="d-flex justify-content-center align-itmes-center display1">Welcome to old Age Support Home :))</h1>
        <hr>
    </div>
    
    <div class="section h-75 w-100 bg-dark">
        <router-outlet></router-outlet>
    </div>
   
</div>