<div class="container bg-dark">
    <div class="row">
        <div class="col-md-6">
            <img src="../assets/images/oc4.jpg" class="h-100 w-100 mt-4" alt="">
        </div>
        <div class="col-md-6 text-light">
            <h3 class="mt-4">A HEARTWARMING SUCCESS STORY</h3>
            <div class="para">
                <p>The story of R. G. LeTourneau. As he succeeded, he increased his giving to the point where he was
                    giving 90% of
                    his income to the Lord’s work.
                    R. G. LeTourneau says, “I shovel out the money, and God shovels it back—but God has a bigger
                    shovel”.
                    You may be thinking, “I could give 90% too if I was a multi-millionaire.”
                    Maybe so, but LeTourneau didn’t start out wealthy.</p>
            </div>
            <button type="button" class="btn btn-warning mr-4 pl-3 pt-2 pb-2 pr-3">LEARN MORE</button>
            <button  type="button" class="btn btn-warning pl-3 pt-2 pb-2 pr-3">DONATE NOW</button>
        </div>
       
    </div>
    

</div>